/* Body */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

/* User List */
#user-list {
  margin: 0 auto;
  max-width: 600px;
}

/* Message */
.message {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

/* Username */
.username {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
}

/* Full Name */
.fullname {
  font-size: 1em;
  color: #666;
  margin-bottom: 5px;
}

/* Email */
.email {
  font-size: 1em;
  color: #666;
}